<form [formGroup]="depositForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="depositAmount">Deposit</label>
        <input id="depositAmount" 
            type="text" 
            class="form-control" 
            placeholder="Enter amout to deposit"
            formControlName="amount">
        <small class="text-danger"
            *ngIf="amountInvalid">Deposit amount is invalid.</small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!depositForm.valid">Deposit</button>
    <p></p>
</form>