<form [formGroup]="withdrawForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="withdrawInput">Withdraw</label>
        <input id="withdrawInput" 
            type="number" 
            class="form-control" 
            placeholder="Enter amout to withdraw"
            formControlName="amount">
            <small class="text-danger"
                *ngIf="amountInvalid">Withdrawal amount is invalid.</small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!withdrawForm.valid">Withdraw</button>
    <p></p>
</form>